################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testapp/testapp/bin/Debug/netcoreapp1.1/testapp.runtimeconfig.json
